@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-darker: #4B4B4B; 
    --color-dark: #6C6C6C;
    --color-light: #D9D9D9;

    --border-radius: 5px;
    --font-family-default: "Albert Sans", system-ui, Helvetica, Arial, sans-serif;
    --font-family-heading: "Montserrat", system-ui, Helvetica, Arial, sans-serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-smalltext: 0.875rem;
    --font-default: 1rem;
    --font-heading: 1.5rem;
    --font-title: 2rem;

    font-size: 16px;
    font-family: var(--font-family-default);
    line-height: 1.5;
    font-weight: var(--fw-regular);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 1em;
    width: clamp(320px, 90%, 1200px);
    margin: 0 auto;
}

header {
    align-items: center;
    justify-content: space-between;

    .header-brand {
        display: flex;
        align-items: center;
    }

    .header-brand img {
        height: 48px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 8px;
    }

    nav {
        width: 500px;
        justify-content: space-evenly;
    }

    nav a { 
        display: block;
        text-decoration: none;
        color: var(--color-dark);
    }
    
    nav a.current-page-navigation-link { 
        font-weight: var(--font-weight-bold);
        color: black;
    }
}



main {
    margin-block: 64px;

    .latest-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
    }
    
    .latest-event-title {
        font-size: var(--font-title);
    }
    
    .latest-event-datetime .small-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
        background-color: var(--color-light);
    }

    .latest-event-description {
        margin-block: 32px;
    }        

    .latest-event-img {
        object-fit: cover;
        width: 100%;
        height: 350px;
        border-radius: var(--border-radius);
    }

    .check-event-button {
        padding: 0.75em 3em;
        border-radius: var(--border-radius);
        border: 0;
        margin-right: auto;
        background-color: var(--color-darker);
        color: white;
        font-weight: var(--font-weight-bold);
        font-family: var(--font-default);
        font-size: var(--font-default);
        cursor: pointer;
    }
    
    .check-event-button:hover {
        transition: color 0.3s, background-color 0.3s;
        color: var(--color-darker);
        background-color: var(--color-light);
    }

    .prev-event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 64px;
    }
    
    .prev-event-heading {
        font-size: var(--font-title);
        font-weight: var(--font-weight-bold);
    }

    .prev-event-list {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        justify-items: center;
        gap: 96px 64px;
        margin: 32px;
    }

    .prev-event-card {
        width: 100%;
    }

    .prev-event-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .prev-event-title {
        font-size: var(--font-heading);
        padding-block-start: 1em;
    }
    
    .prev-event-datetime .small-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
        background-color: var(--color-light);
    }
    
    .prev-event-description {
        margin-block: 16px;
    }

}





    /* .latest-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

        .latest-event-card {
            margin: 10px 25%;
        }

        .latest-event-img {
            height: 200px;
            margin: 10px 25%;
        }
*/

    .prev-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



        /* .prev-event-card {
            margin: 10px 25%;
        }

        .prev-event-img {
            height: 200px;      
        } */
 /*
   
    #myCarousel img {
        background: darkblue;
        height: 300px;
    } */

    

footer {}

    .footer-brand {
        flex: 1;
    }

    footer nav {
        flex: 1;
    }

    .footer-info {
        flex: 3;
    }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}