@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-darker: #4B4B4B; 
    --color-dark: #6C6C6C;
    --color-light: #D9D9D9;

    --border-radius: 5px;
    --font-family-default: "Albert Sans", system-ui, Helvetica, Arial, sans-serif;
    --font-family-heading: "Montserrat", system-ui, Helvetica, Arial, sans-serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-smalltext: 0.875rem;
    --font-default: 1rem;
    --font-heading: 1.25rem;
    --font-title: 2rem;

    font-size: 16px;
    font-family: var(--font-family-default);
    line-height: 1.5;
    font-weight: var(--fw-regular);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 1em;
    width: clamp(320px, 90%, 1200px);
    margin: 0 auto;
}

header {
    align-items: center;
    justify-content: space-between;

    .header-brand {
        display: flex;
        align-items: center;
    }

    .header-brand img {
        height: 48px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 8px;
    }

    nav {
        width: 500px;
        justify-content: space-evenly;
    }

    nav a { 
        display: block;
        text-decoration: none;
        color: var(--color-dark);
    }
    
    nav a.current-page-navigation-link { 
        font-weight: var(--font-weight-bold);
        color: black;
    }

}



main {}

    /* events.html */

    .latest-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

        .latest-event-card {
            margin: 10px 25%;
        }

        .latest-event-img {
            height: 200px;
            margin: 10px 25%;
        }

    .prev-event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

        .prev-event-card {
            margin: 10px 25%;
        }

        .prev-event-img {
            height: 200px;      
        }

    /* event-details.html */
    #myCarousel img {
        background: darkblue;
        height: 300px;
    }

    

footer {}

    .footer-brand {
        flex: 1;
    }

    footer nav {
        flex: 1;
    }

    .footer-info {
        flex: 3;
    }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}